pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

.response {
  background: var(--resp-bg);
  @apply rounded-lg;
}

@media (prefers-color-scheme: light) {
  :root {
    --resp-bg: #d5d6db;
  }

  /*!
    Theme: Tokyo-night-light
    origin: https://github.com/enkia/tokyo-night-vscode-theme
    Description: Original highlight.js style
    Author: (c) Henri Vandersleyen <hvandersleyen@gmail.com>
    License: see project LICENSE
    Touched: 2022
  */
  /*  Comment */
  .hljs-meta,
  .hljs-comment {
    color: #9699a3;
  }
  /* Red */
  /*INFO: This keyword, HTML elements, Regex group symbol, CSS units, Terminal Red */
  .hljs-tag,
  .hljs-doctag,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-template-tag,
  .hljs-selector-pseudo,
  .hljs-selector-attr,
  .hljs-variable.language_,
  .hljs-deletion {
    color: #8c4351;
  }
  /*Orange */
  /*INFO: Number and Boolean constants, Language support constants */
  .hljs-variable,
  .hljs-template-variable,
  .hljs-number,
  .hljs-literal,
  .hljs-type,
  .hljs-params,
  .hljs-link {
    color: #965027;
  }
  /*  Yellow */
  /* INFO:  	Function parameters, Regex character sets, Terminal Yellow */
  .hljs-built_in,
  .hljs-attribute {
    color: #8f5e15;
  }
  /* cyan */
  /* INFO: Language support functions, CSS HTML elements */
  .hljs-selector-tag {
    color: #166775;
  }
  /* light blue */
  /* INFO: Object properties, Regex quantifiers and flags, Markdown headings, Terminal Cyan, Markdown code, Import/export keywords */
  .hljs-keyword,
  .hljs-title.function_,
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-subst,
  .hljs-property {
    color: #0f4b6e;
  }
  /*Green*/
  /* INFO: Object literal keys, Markdown links, Terminal Green */
  .hljs-selector-tag {
    color: #33635c;
  }
  /*Green(er) */
  /* INFO: Strings, CSS class names */
  .hljs-quote,
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: #485e30;
  }
  /* Blue */
  /* INFO:  	Function names, CSS property names, Terminal Blue */
  .hljs-code,
  .hljs-formula,
  .hljs-section {
    color: #34548a;
  }
  /* Magenta */
  /*INFO: Control Keywords, Storage Types, Regex symbols and operators, HTML Attributes, Terminal Magenta */
  .hljs-name,
  .hljs-keyword,
  .hljs-operator,
  .hljs-keyword,
  .hljs-char.escape_,
  .hljs-attr {
    color: #5a4a78;
  }
  /* white*/
  /* INFO: Variables, Class names, Terminal White */
  .hljs-punctuation {
    color: #343b58;
  }
  .hljs {
    background: var(--resp-bg);
    color: #565a6e;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: bold;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --resp-bg: #0d1117;
  }

  /*!
    Theme: GitHub Dark
    Description: Dark theme as seen on github.com
    Author: github.com
    Maintainer: @Hirse
    Updated: 2021-05-15

    Outdated base version: https://github.com/primer/github-syntax-dark
    Current colors taken from GitHub's CSS
  */
  .hljs {
    color: #c9d1d9;
    background: var(--resp-bg);
  }
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #ff7b72;
  }
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #d2a8ff;
  }
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-variable,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #79c0ff;
  }
  .hljs-regexp,
  .hljs-string,
  .hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #a5d6ff;
  }
  .hljs-built_in,
  .hljs-symbol {
    /* prettylights-syntax-variable */
    color: #ffa657;
  }
  .hljs-comment,
  .hljs-code,
  .hljs-formula {
    /* prettylights-syntax-comment */
    color: #8b949e;
  }
  .hljs-name,
  .hljs-quote,
  .hljs-selector-tag,
  .hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #7ee787;
  }
  .hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #c9d1d9;
  }
  .hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #1f6feb;
    font-weight: bold;
  }
  .hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #f2cc60;
  }
  .hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #c9d1d9;
    font-style: italic;
  }
  .hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #c9d1d9;
    font-weight: bold;
  }
  .hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #aff5b4;
    background-color: #033a16;
  }
  .hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #ffdcd7;
    background-color: #67060c;
  }
}
